<p id="notice"><%= notice %></p>

<h1><b>Configuration:</b> <%= @risk_configuration.name %></h1>

<div class="span5">
<h2>Consequences</h2>
<table class="table">
<% @risk_configuration.risk_consequences.sort_by{|p| p.weight}.reverse().each do |risk_consequence| %>
  <tr>
    <th><%= risk_consequence.name %></th>
    <td><%= risk_consequence.weight %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_risk_consequence_path(@risk_configuration, risk_consequence), :method => :get, :class => "btn btn-small" %></td>
    <td><%= button_to 'Delete', risk_configuration_risk_consequence_path(@risk_configuration, risk_consequence), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-small" %></td>
  </tr>
<% end %>
  <tr>
	<td colspan=4>
        <a href="<%= new_risk_configuration_risk_consequence_path(@risk_configuration) %>" 
    class="btn btn-small"><i class="icon-plus"></i> Add</a>
	</td>
  </tr>	
</table>
</div>

<div class="span5">
<h2>Probabilities</h2>
<table class="table">
<% @risk_configuration.risk_probabilities.sort_by{|p| p.weight}.reverse().each do |risk_probability| %>
  <tr>
    <th><%= risk_probability.name %></th>
    <td><%= risk_probability.weight %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_risk_probability_path(@risk_configuration, risk_probability), :method => :get, :class => "btn btn-small" %></td>
    <td><%= button_to 'Delete', risk_configuration_risk_probability_path(@risk_configuration, risk_probability), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-small" %></td>
  </tr>
<% end %>
  <tr>
	<td colspan=4>
		<a href="<%= new_risk_configuration_risk_probability_path(@risk_configuration) %>" 
    class="btn btn-small"><i class="icon-plus"></i> Add</a>
	</td>
  </tr>
</table>
</div>


<div class="span5">
<h2>Risk levels</h2>
<table class="table">

<% @risk_configuration.risk_levels.sort_by{|p| p.weight}.reverse().each do |risk_level| %>
  <tr>
    <th><%= risk_level.name %></th>
    <td><%= risk_level.weight %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_risk_level_path(@risk_configuration, risk_level), :method => :get, :class => "btn btn-small" %></td>
    <td><%= button_to 'Delete', risk_configuration_risk_level_path(@risk_configuration, risk_level), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-small" %></td>
  </tr>
<% end %>
  <tr>
	<td colspan=4>
    <a href="<%= new_risk_configuration_risk_level_path(@risk_configuration) %>" 
    class="btn btn-small"><i class="icon-plus"></i> Add</a>
	</td>
  </tr>
</table>
</div>

<div class="span5">
<h2>Calculated risk levels</h2>
<table class="table">
  <tr>
    <th> </th>
    <% @risk_configuration.risk_consequences.sort_by{|p| p.weight}.each do |rc| %>
      <th><%= rc.name %></th>
    <% end %>
  </tr>
<% @risk_configuration.risk_probabilities.sort_by{|p| p.weight}.each do |rp| %>
  <tr>
    <th><%= rp.name %></th>
    <% @risk_configuration.risk_consequences.sort_by{|p| p.weight}.each do |rc| %>
      <% rl = @risk_configuration.find_level(rp, rc) %>
      <td title="<%= rp.weight * rc.weight %>" class="risk_level_<%= rl.color %>"><%= rl.name %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>



<div class="span5">
<h2>Impacts</h2>
<table class="table">

<% @risk_configuration.impacts.sort_by{|c| [c.hidden ? 1 : 0, c.name]}.each do |impact| %>
  <tr class="<%= impact.hidden ? "muted" : "" %>">
    <th><%= impact.name %></th>
    <td><%= impact.risk_level.name %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_impact_path(@risk_configuration, impact), :method => :get, :class => "btn btn-small" %></td>
    <td><%= button_to 'Delete', risk_configuration_impact_path(@risk_configuration, impact), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-small" %></td>
  </tr>
<% end %>
  <tr>
	<td colspan=4>
    <a href="<%= new_risk_configuration_impact_path(@risk_configuration) %>" 
    class="btn btn-small"><i class="icon-plus"></i> Add</a>
	</td>
  </tr>
</table>
</div>

<div class="span5">
<h2>Asset values</h2>
<table class="table">

<% @risk_configuration.risk_asset_values.sort_by{|c| c.weight}.reverse().each do |asset_value| %>
  <tr>
    <th><%= asset_value.name %></th>
    <td><%= asset_value.weight %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_risk_asset_value_path(@risk_configuration, asset_value), :method => :get, :class => "btn btn-small" %></td>
    <td><%= button_to 'Delete', risk_configuration_risk_asset_value_path(@risk_configuration, asset_value), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-small" %></td>
  </tr>
<% end %>
  <tr>
  <td colspan=4>
    <a href="<%= new_risk_configuration_risk_asset_value_path(@risk_configuration) %>" 
    class="btn btn-small"><i class="icon-plus"></i> Add</a>
  </td>
  </tr>
</table>
</div>