<p id="notice"><%= notice %></p>

<h1><b>Configuration:</b> <%= @risk_configuration.name %></h1>


<h2>Consequences</h2>
<table>
<% @risk_configuration.risk_consequences.sort_by{|p| p.weight}.reverse().each do |risk_consequence| %>
  <tr>
    <td><%= risk_consequence.name %></td>
    <td><%= risk_consequence.weight %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_risk_consequence_path(@risk_configuration, risk_consequence), :method => :get %></td>
    <td><%= button_to 'Delete', risk_configuration_risk_consequence_path(@risk_configuration, risk_consequence), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
	<td>
		<%= button_to 'Add', new_risk_configuration_risk_consequence_path(@risk_configuration), :method => :get %>
	</td>
  </tr>	
</table>


<h2>Probabilities</h2>
<table>
<% @risk_configuration.risk_probabilities.sort_by{|p| p.weight}.reverse().each do |risk_probability| %>
  <tr>
    <td><%= risk_probability.name %></td>
    <td><%= risk_probability.weight %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_risk_probability_path(@risk_configuration, risk_probability), :method => :get %></td>
    <td><%= button_to 'Delete', risk_configuration_risk_probability_path(@risk_configuration, risk_probability), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
	<td>
		<%= button_to 'Add', new_risk_configuration_risk_probability_path(@risk_configuration), :method => :get %>
	</td>
  </tr>
</table>


<h2>Risk levels</h2>
<table>

<% @risk_configuration.risk_levels.sort_by{|p| p.weight}.reverse().each do |risk_level| %>
  <tr>
    <td><%= risk_level.name %></td>
    <td><%= risk_level.weight %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_risk_level_path(@risk_configuration, risk_level), :method => :get %></td>
    <td><%= button_to 'Delete', risk_configuration_risk_level_path(@risk_configuration, risk_level), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
	<td>
		<%= button_to 'Add', new_risk_configuration_risk_level_path(@risk_configuration), :method => :get %>
	</td>
  </tr>
</table>

<h2>Categories</h2>
<table>

<% @risk_configuration.categories.sort_by{|c| c.name}.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.risk_level.name %></td>
    <td><%= button_to 'Edit', edit_risk_configuration_category_path(@risk_configuration, category), :method => :get %></td>
    <td><%= button_to 'Delete', risk_configuration_category_path(@risk_configuration, category), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
	<td>
		<%= button_to 'Add', new_risk_configuration_category_path(@risk_configuration), :method => :get %>
	</td>
  </tr>
</table>

