<table class="table table-condensed">
	<% @versions.each do |v| %>
		<tr>
			<td><%= v.created_at %></td>
			<td><%= to_user(v) ? to_user(v).full_name : "-" %></td>
			<td><%= v.event %></td>
			<td><%= v.item_type %>: <%= v.item_id %></td>
			<td><%= v.changeset.to_json %></td>
		</tr>
	<% end %>
</table>

<%= will_paginate @versions %>