<%= form_for([current_risk_configuration, @impact]) do |f| %>
  <% if @impact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impact.errors.count, "error") %> prohibited this impact from being saved:</h2>

      <ul>
      <% @impact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :risk_level, "Risk acceptance level" %><br />
    <%= select("impact", "risk_level_id", current_risk_configuration.risk_levels.sort_by{|l| l.weight }.reverse().collect{|l| [l.name, l.id] } ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
