<%= form_for([current_risk_configuration, @risk_level]) do |f| %>
  <% if @risk_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risk_level.errors.count, "error") %> prohibited this risk level from being saved:</h2>

      <ul>
      <% @risk_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field risk_level_selector">
    <%= f.label :color %>

    <label class="radio input-small">
       <input type="radio" name="risk_level[color]" value="blank" <%= @risk_level.color == :blank ? "checked" : "" %>>
    </label>
    <% [:ok, :warning, :fail, :other].each do |c| %>
      <label class="radio risk_level_<%= c %> input-small">
        <input type="radio" name="risk_level[color]" value="<%= c %>" <%= @risk_level.color == c ? "checked" : "" %>>
      </label>
    <% end %>
  </div>



  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
  </fieldset>
<% end %>
