<%= form_for([current_project, @asset]) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5 %>
  </div>  
  <div class="field">
    <%= f.label :owner %>
    <%= f.text_field :owner %>
  </div>  

  <div class="field">
    <%= f.label :risk_asset_value %>
  <%= select("risk_asset", "risk_asset_value_id", current_project.risk_configuration.risk_asset_values.sort_by{|l| l.weight }.reverse().collect{|l| [l.name + " - " + (l.description || ""), l.id] } ) %>
  </div>

  <div class="actions">
    <%= f.submit :class =>"btn btn-primary" %>
  </div>
<% end %>
