<%= content_for :title, " - " << @asset.project.name << " \\ " << @asset.name %>

<p id="notice"><%= notice %></p>



<% @breadcrumbs.push(["Assets", project_risk_assets_path(current_project)]) %>
<% @breadcrumbs.push([@asset.name, ""]) %>
<%= render 'layouts/breadcrumb' %>


<h1><%= @asset.name %></h1>

<h5>Value</h5> 
<%= @asset.risk_asset_value.name %> - <%= @asset.risk_asset_value.description %>

<div id="description">
<h5>Description</h5> 
  <%= @asset.description %>
</div>



<h3>Risks associated with this asset:</h3>
<table class="risks table table-striped table-condensed">
  <thead>
    <tr>
      <th>Impact</th>
      <th>Id</th>
      <th>Title</th>
      <th>Consequence</th>
      <th>Probability</th>
      <th>Risk level</th>
    </tr>
  </thead>
  <tbody>
<% @asset.risks.sort_by{|r| [r.impact.name, r.title]}.each do |risk| %>
  <tr>
    <td><%= risk.impact.name %></td>
    <td data-sort-key="<%= risk.id %>"><%= risk.risk_id %></td>
    <td><%= link_to risk.title, project_risk_path(current_project, risk) %></td>
    <td data-sort-key="<%= risk.risk_consequence.weight %>"><%= risk.risk_consequence.name %></td>
    <td data-sort-key="<%= risk.risk_probability.weight %>"><%= risk.risk_probability.name %></td>
    <td data-sort-key="<%= risk.risk_level.weight %>" class="<%= risk.accepted ? "" : "tooHigh" %>"><%= risk.risk_level.name %></td>
    
  </tr>
<% end %>
</tbody>
</table>

