<% content_for :title, " - Projects" %>

<h1>Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Risk configuration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.risk_configuration.name %></td>
    <td><%= button_to 'Edit', edit_project_path(project), :method => :get %></td>
    <td><%= button_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Project', new_project_path, :method => :get %>
