<% content_for :title, " - " << @project.name %>

<script type="text/javascript" src="/javascripts/mochikit/MochiKit.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/Base.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/Layout.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/Canvas.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/SweetCanvas.js"></script>


<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %>
</h1>

<p>
  <b>Risk configuration:</b>
  <%= link_to @project.risk_configuration.name, @project.risk_configuration %>
</p>

<div>
<canvas class="demo" id="graph" width="600"></canvas>
</div>


<script>

function drawGraph() {
    var layout = new PlotKit.Layout("line", {yTickPrecision: 0});
    layout.addDataset("Too high", [<%=total_risk %>]);
    layout.addDataset("sqrt2", [<%=accepted_risk %>]);
    layout.evaluate();
    var canvas = MochiKit.DOM.getElement("graph");
    var plotter = new PlotKit.SweetCanvasRenderer(canvas, layout, {colorScheme: [Color.fromRGB(1, 0.0, 0.0, 0.5), Color.fromRGB(0.0, 1, 0.0, 0.5)] });
    plotter.render();
}
MochiKit.DOM.addLoadEvent(drawGraph);
</script>
<table class="risk_list">
	<tr>
		<th></th>
		<% @project.risk_configuration.risk_levels.sort_by(&:weight).each do |risk_level| %>
			<th class="category"><%= risk_level.name %></th>
		<% end %>
	</tr>
<% @project.risk_configuration.categories.sort_by(&:name).each do |category| %>
	<tr>
		<th><%= category.name %></th>
		<% @project.risk_configuration.risk_levels.sort_by(&:weight).each do |risk_level| %>
			<% count =  @project.risks.select{|r| r.category == category && r.risk_level == risk_level}.count() %>
			<td class="<%= count > 0 && risk_level.weight > category.risk_level.weight ? "tooHigh" : "" %>">
				<%= count %>
			</td>
		<% end %>
	</tr>
<% end %>
</table>

<%= link_to "List risks", project_risks_path(@project) %>

<br />
<br />

<%= button_to 'Edit', edit_project_path(@project), :method => :get %>
