<table class="versions">
<tr>
	<th>Version date</th>
	<th>Risk level</th>
	<th>Proability</th>
	<th>Conseqeuence</th>
	<th>Changed by</th>
</tr>
<% @risk.versions.each do |v| %>
	<tr>
    <td><%= v.created_at %></td>
    <td><%= @risk.version_at(v.created_at).risk_level.name %></td>
    <td><%= @risk.version_at(v.created_at).risk_probability.name %></td>
    <td><%= @risk.version_at(v.created_at).risk_consequence.name %></td>
    <td><%= @risk.to_user(v).full_name %></td>
  </tr>
<% end %>
</table>