<% content_for :title, " - " << current_project.name %>

<script type="text/javascript" src="/javascripts/mochikit/MochiKit.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/Base.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/Layout.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/Canvas.js"></script>
<script type="text/javascript" src="/javascripts/plotkit/SweetCanvas.js"></script>


<p id="notice"><%= notice %></p>

<%= link_to current_project.name, project_path(current_project) %>  &gt; 
Risks

<h1>
  <%= current_project.name %>
</h1>

<table>
	<tr>
		<th>Category</th>
		<th>Id</th>
		<th>Title</th>
		<th>Consequence</th>
		<th>Probability</th>
		<th>Risk level</th>
	</tr>
<% current_project.risks.sort_by{|r| [r.category.name, r.title]}.each do |risk| %>
  <tr>
    <td><%= risk.category.name %></td>
    <td><%= risk.id %></td>
    <td><%= link_to risk.title, project_risk_path(current_project, risk) %></td>
    <td><%= risk.risk_consequence.name %></td>
    <td><%= risk.risk_probability.name %></td>
    <td class="<%= risk.accepted ? "" : "tooHigh" %>"><%= risk.risk_level.name %></td>
    <td><%= link_to 'Edit', edit_project_risk_path(current_project, risk) %></td>
    <td><%= link_to 'Destroy', project_risk_path(current_project, risk), :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>
<%= button_to 'New risk', new_project_risk_path(current_project), :method => :get %>

<br />
<br />

