<% content_for :title, " - " << current_project.name %>

<p id="notice"><%= notice %></p>

<%= link_to current_project.name, project_path(current_project) %>  &gt; 
Risks

<h1>
  <%= current_project.name %>
</h1>

<% if (@tag) then %>
  <div class="tagFilter">Showing risks with tag: <li class="tag"><%= @tag %><a href="<%= project_risks_path(current_project) %>">x</a></li></div>
<% end %>
<table class="risks">
	<tr>
		<th>Impact</th>
		<th>Id</th>
		<th>Title</th>
		<th>Consequence</th>
		<th>Probability</th>
		<th>Risk level</th>
	</tr>
<% @risks.sort_by{|r| [r.impact.name, r.title]}.each do |risk| %>
  <tr>
    <td><%= risk.impact.name %></td>
    <td><%= risk.id %></td>
    <td><%= link_to risk.title, project_risk_path(current_project, risk) %></td>
    <td><%= risk.risk_consequence.name %></td>
    <td><%= risk.risk_probability.name %></td>
    <td class="<%= risk.accepted ? "" : "tooHigh" %>"><%= risk.risk_level.name %></td>
    <td><%= button_to 'Edit', edit_project_risk_path(current_project, risk), :method => :get %></td>
    <td><%= button_to 'Delete', project_risk_path(current_project, risk), :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>
<%= button_to 'New risk', new_project_risk_path(current_project), :method => :get %>

<br />
<br />

