<% content_for :title, " - " << current_project.name %>

<p id="notice"><%= notice %></p>

<%= link_to current_project.name, project_path(current_project) %>  &gt; 
Risks

<div style="float: right; text-align: right">
  <input type="text" id="search" name="search" placeholder="search" value="<%= @search %>"><br>

  <a href="<%= new_project_risk_path(current_project) %>" class="btn"><i class="icon-plus"></i> New risk</a>
</div>
<h1>
  <%= current_project.name %>
</h1>
<div style="clear: both;"></div>
<% if (@tag) then %>
  <div class="tagFilter">Showing <%= @risks.count %> risks tagged with: <li class="tag badge badge-info"><%= @tag %><a href="<%= project_risks_path(current_project) %>">x</a></li></div>
<% end %>
<% if (@search) then %>
  <div class="searchFilter">Showing <%= @risks.count %> risks containing: <span><%= @search %></span> &nbsp;&nbsp;<a href="<%= project_risks_path(current_project) %>">(show all)</a></div>
<% end %>
<% if (@risklevel && @impact) then %>
  <div class="searchFilter">Showing <%= @risks.count %> risks with risk level <span><%= @l.name %></span> and impact <span><%= @i.name %></span> &nbsp;&nbsp;<a href="<%= project_risks_path(current_project) %>">(show all)</a></div>
<% end %>

<table class="risks table table-striped table-condensed">
  <thead>
  	<tr>
  		<th>Impact</th>
  		<th>Id</th>
  		<th>Title</th>
  		<th>Consequence</th>
  		<th>Probability</th>
  		<th>Risk level</th>
  	</tr>
  </thead>
  <tbody>
<% @risks.sort_by{|r| [r.impact.name, r.title]}.each do |risk| %>
  <tr>
    <td><%= risk.impact.name %></td>
    <td data-sort-key="<%= risk.id %>"><%= risk.id %></td>
    <td><%= link_to risk.title, project_risk_path(current_project, risk) %></td>
    <td data-sort-key="<%= risk.risk_consequence.weight %>"><%= risk.risk_consequence.name %></td>
    <td data-sort-key="<%= risk.risk_probability.weight %>"><%= risk.risk_probability.name %></td>
    <td data-sort-key="<%= risk.risk_level.weight %>" class="<%= risk.accepted ? "" : "tooHigh" %>"><%= risk.risk_level.name %></td>
    <!-- td><%= button_to 'Delete', project_risk_path(current_project, risk), :confirm => 'Are you sure?', :method => :delete %></td -->

  </tr>
<% end %>
</tbody>
</table>
<br />
<br />

