<%= content_for :title, " - " << @risk.project.name << " \\ " << @risk.id.to_s %>
<p id="notice"><%= notice %></p>

<%= link_to @risk.project.name, project_path(current_project) %>  &gt; 
<%= link_to "Risks", project_risks_path(@project) %> &gt;
Risk-<%= @risk.id %>


<h1><%= @risk.title %></h1>

<p>
  <%= @risk.description.presence || "-" %>
</p>

<p>
  <label>Category:</label>
  <%= @risk.category.name %>
</p>

<p>
  <label>Risk level:</label>
  <%= @risk.risk_level.name %>
</p>

<p>
  <label>Risk consequence:</label>
  <%= @risk.risk_consequence.name %>
</p>

<p>
  <label>Risk probability:</label>
  <%= @risk.risk_probability.name %>
</p>


<%= button_to 'Edit', edit_project_risk_path(current_project, @risk), :method => :get %>

<h3>Activity</h3>
<% form_tag(polymorphic_path([current_project, @risk, Comment.new]), {:class => "comment"}) do -%>
  <%= text_area_tag 'body' %>
  <%= submit_tag "Add comment" %>
<% end %>



<% @risk.feed.each do |c| %>
  <div class="action">
    <img src="<%= c[:user].gravatar_url(40) %>">

    <div class="author"><%= c[:user].full_name %></div>
    <div class="<%= c[:type] %>">
      <% if c[:description].size == 1 then %>
        <%= c[:description][0] %>
      <% else %>
        <% c[:description].each do |a| %>
          <li><%= a %></li>
        <% end %>
      <% end %>
    </div>
    <div class="date"><%= c[:created_at] %></div>
  </div>
<% end %>



<%= render 'versions' %>
