<%= content_for :title, " - " << @risk.project.name << " \\ " << @risk.id.to_s %>
<% javascript 'risk' %>

<p id="notice"><%= notice %></p>

<% content_for :sidebar do %>
  <p>
    <label>Impact:</label>
    <%= select("risk", "impact_id", 
          current_project.risk_configuration.impacts.sort_by{|c| c.name }.collect{|c| [c.name, c.id] },
          {},
          {:class => "saveOnChange", "data-name" => "risk[impact_id]"}) %>
  </p>


  <p>
    <label>Risk consequence:</label>
    <%= select("risk", "risk_consequence_id", 
          current_project.risk_configuration.risk_consequences.sort_by{|l| l.weight }.reverse().collect{|l| [l.name, l.id] },
          {},
          {:class => "saveOnChange", "data-name" => "risk[risk_consequence_id]"}) %>
  </p>

  <p>
    <label>Risk probability:</label>
      <%= select("risk", "risk_probability_id", 
          current_project.risk_configuration.risk_probabilities.sort_by{|l| l.weight }.reverse().collect{|l| [l.name, l.id] }, 
          {},
          {:class => "saveOnChange", "data-name" => "risk[risk_probability_id]"}) %>

  </p>
  <p>
    <label>Risk level:</label>
      <%= select("risk", "risk_level_id", 
          current_project.risk_configuration.risk_levels.sort_by{|l| l.weight }.reverse().collect{|l| [l.name, l.id] },
          {},
          {:class => "saveOnChange", "data-name" => "risk[risk_level_id]"}) %>
  </p>

  <p>
    <label>Accepted:</label>
      <%= check_box("risk", "accepted_override",
          {:class => "saveOnChange", "data-name" => "risk[accepted_override]"}) %>
  </p>

  <p>
    <li class="nav-header">Assets</li>
    <div class="tags" id="assets">
    </div>
    <input type="text" id="asset_field" />
  </p>



  <p>
    <li class="nav-header">Labels</li>
    <div class="tags" id="tags">
    </div>
    <input type="text" id="tag_field" />
  </p>
<% end %>


<div class="riskbody">

<%= link_to @risk.project.name, project_path(current_project) %>  &gt; 
<%= link_to "Risks", project_risks_path(current_project) %> &gt;
Risk-<%= @risk.id %>

<h1><div contenteditable class="editable" data-name="risk[title]"><%= @risk.title %></div></h1>

<div id="description">
  <%= raw @risk.description.blank? ? "<em>Click to edit description</em>" : @risk.description_html %>
</div>
<div id="descriptioneditor" style="display: none">
  <textarea data-name="risk[description]"><%= @risk.description %></textarea>
</div>

<!--
<%= button_to 'Edit', edit_project_risk_path(current_project, @risk), :method => :get %>
-->

<h3>Mitigation</h3>
<div id="mitigation">
  <%= raw @risk.mitigation.blank? ? "<em>Click to edit mitigation</em>" : @risk.mitigation_html %>
</div>
<div id="mitigationeditor" style="display: none">
  <textarea data-name="risk[mitigation]"><%= @risk.mitigation %></textarea>
</div>

<div id="checklists">
  <h3>Checklists</h3>
  <% @risk.checklists.each do |c| %>  
    <div class="checklist">
        <h4><%= c.title %></h4>
        <ul>
          <% c.checklist_items.each do |item| %>
            <li class="item">
              <input type="checkbox" value="1" class="saveOnChange" data-name="checklist_item[done]"<%= item.done? ? " checked" : ""%> data-uri="<%= polymorphic_path([current_project, @risk, c, item]) %>">
              <span><%= item.title %></span></input>
            </li>
          <% end %>
          <li>
            <%= form_tag(polymorphic_path([current_project, @risk, c, ChecklistItem.new]), {:class => "add_button form-inline", "data-add-name" => "Add item"}) do  -%>
              <%= text_field_tag 'checklist_item[title]' %>
              <%= submit_tag "Save item", :class => "btn" %>
            <% end %>
          </li>
        </ul>
    </div>
  <% end %>
  <%= form_tag(polymorphic_path([current_project, @risk, Checklist.new]), {:class => "add_button form-inline", "data-add-name" => "Add checklist"}) do  -%>
    <%= text_field_tag 'checklist[title]' %>
    <%= submit_tag "Save checklist", :class => "btn" %>
  <% end %>
</div>


  <div class="attachments">
    <h3>Attachments:</h3>
    <ul>
      <% @risk.attachment_links.each do |al| %>
        <li><a href="<%= al.attachment.file.url %>"><%= al.attachment.file_file_name %></a></li>
      <% end %>        
    </ul>
    <%= form_for([current_project, @risk, Attachment.new], {:class => "form-inline"}) do |f| %>
      <%= f.file_field :file %>
      <%= f.submit "Upload", :class => "btn" %>
    <% end %>
  </div>



<h3>Activity</h3>
<%= form_tag(polymorphic_path([current_project, @risk, Comment.new]), {:class => "comment"}) do -%>
  <fieldset>
    <%= text_area_tag 'body', "", { :class => "span7" } %>
    <%= submit_tag "Add comment", :class => "btn" %>
  </fieldset>
<% end %>


<% @risk.feed.each do |c| %>
  <div class="action">
    <img src="<%= c[:user].gravatar_url(40) %>" class="avatar">

    <div class="author"><%= c[:user].full_name %></div>
    <div class="<%= c[:type] %>">
      <%= raw c[:description] %>
    </div>
    <div class="date"><%= c[:created_at] %>
      <% if c[:type] == "comment" && c[:user] == current_user then %>
        <a data-method="delete" href="<%= polymorphic_path([current_project, @risk, Comment.find(c[:id])]) %>">Delete</a>
      <% end %>
    </div>
  </div>
<% end %>



<%= render 'versions' %>
</div>