<%= form_for([current_project, @asset]) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>  

  <div class="field">
    <%= f.label :asset_value %><br />
  <%= select("asset", "asset_value_id", current_project.risk_configuration.asset_values.sort_by{|l| l.weight }.reverse().collect{|l| [l.name, l.id] } ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
