<% content_for :title, " - Assets" %>


<% content_for :sidebar do %>
  <li class="nav-header">Value Definitions</li>
    <table class="table">
      <% current_project.risk_configuration.asset_values.sort_by{|v| v.weight}.reverse.each do |v| %>
        <tr>
          <th><%= v.name %></th>
          <td><%= v.description %></td>
        </tr>
      <% end %>
    </table>
<% end %>


<%= link_to current_project.name, project_path(current_project) %>  &gt; 
Assets

<h1>Assets</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @assets.sort_by{|a| a.name }.each do |asset| %>
      <tr>
        <td data-sort-key="<%= asset.name %>"><%= link_to asset.name, [current_project, asset] %></td>
        <td data-sort-key="<%= asset.asset_value.weight %>" title="<%= asset.asset_value.description %>"><%= asset.asset_value.name %></td>
        <td><%= asset.description %></td>
        <td><%= button_to 'Edit', edit_project_asset_path(current_project, asset), :method => :get %></td>
        <td><%= button_to 'Delete', [current_project, asset], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<a href="<%= new_project_asset_path(current_project) %>"  class="btn"><i class="icon-plus"></i> New asset</a>
