<!DOCTYPE html>
<html>
<head>
  <title>Risk manager<%= yield(:title) %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <header class="main">

        <h1>
        <div class="userinfo">
            <%= current_user.full_name %><img src="<%= current_user.gravatar_url(32) %>">
        </div>
                <a href=".">Risk tracker</a>
        </h1>
    </header>
       <nav>
                <ul>
                      <li><%= link_to "Projects", projects_path %></li>
                      <li><%= link_to "Configurations", risk_configurations_path %></li>
  
                </ul>
        </nav>

		<div id="main">
			<%= yield %>
		</div>

    <footer>

    </footer>
  </div>
</body>
</html>
